body {
  background-color: cornsilk;
}

h1 {
  font-size: 35px;
  color: white;
  font-family: Times new roman
}

p1 {
  font-size: 20px;
  color: red;
}

h2{
color:black;
font-size: 30px;
}

h3{
color:black;
font-size: 30px;
}

.MFFVid{
  width:1100px;
  left:50px;
}

.Riptide{
  width:500px;
  left:50px;
}

.MFF{
  width:500px;
  left:50px;
}

.SOP{
  width:500px;
  left:50px;
}

.MovingForward{
  width:500px;
  left:50px;
}


div{
  font-size: 25px;
}

button{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

   .column {
     float: left;
     padding: 10px;
     height: 100vh;
   }

   .row{
     width: 100vw;
   }

   #left {
     width: 74.5vw;
   }

   #right {
     width: 22vw;
   }

   .row:after {
     content: "";
     display: table;
     clear: both;
   }


   .accordion__button{
     display: block;
     width: 100%;
     padding: 15px;
     border: none;
     outline: none;
     cursor: pointer;
     background: #333333;
     color: #FFFFFF;
     text-align: left;
     transition: background 0.2s;
   }
   .accordion__button::after{
     content:  '\25be';
     float: right;
     transform: scale(1.5);
   }
   .accordion__button--active{background: #555555}
   .accordion__button--active:: active {content:'\25b4'}
   .accordion__content{
     overflow:hidden;
     max height:0;
     transition: max-height 0.2s;
     padding: 0 15px;
     font-family: sans-serif;
     background: #EEEEEE;

   }
